<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLogin</servlet-name>
        <servlet-class>UserLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>servletlogin</servlet-name>
        <servlet-class>servletlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertServlet</servlet-name>
        <servlet-class>insert.InsertServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserFirstServlet</servlet-name>
        <servlet-class>UserFirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminFirstServlet</servlet-name>
        <servlet-class>AdminFirstServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserWelcomeServlet</servlet-name>
        <servlet-class>UserWelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminWelcomeServlet</servlet-name>
        <servlet-class>AdminWelcomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPlaces</servlet-name>
        <servlet-class>DisplayPlaces</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayTollgates</servlet-name>
        <servlet-class>DisplayTollgates</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUsers</servlet-name>
        <servlet-class>DisplayUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayAllTravelHistory</servlet-name>
        <servlet-class>DisplayAllTravelHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserTravelHistory</servlet-name>
        <servlet-class>DisplayUserTravelHistory</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserVehicleDetails</servlet-name>
        <servlet-class>DisplayUserVehicleDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayUserProfile</servlet-name>
        <servlet-class>DisplayUserProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DisplayPaymentStatus</servlet-name>
        <servlet-class>DisplayPaymentStatus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
    <servlet-name>PassManagementServlet</servlet-name>
    <servlet-class>PassManagementServlet</servlet-class>
    </servlet>
    <servlet-mapping>
    <servlet-name>PassManagementServlet</servlet-name>
    <url-pattern>/PassManagementServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogin</servlet-name>
        <url-pattern>/UserLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletlogin</servlet-name>
        <url-pattern>/servletlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertServlet</servlet-name>
        <url-pattern>/InsertServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserFirstServlet</servlet-name>
        <url-pattern>/UserFirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminFirstServlet</servlet-name>
        <url-pattern>/AdminFirstServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserWelcomeServlet</servlet-name>
        <url-pattern>/UserWelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminWelcomeServlet</servlet-name>
        <url-pattern>/AdminWelcomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPlaces</servlet-name>
        <url-pattern>/DisplayPlaces</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayTollgates</servlet-name>
        <url-pattern>/DisplayTollgates</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUsers</servlet-name>
        <url-pattern>/DisplayUsers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayAllTravelHistory</servlet-name>
        <url-pattern>/DisplayAllTravelHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserTravelHistory</servlet-name>
        <url-pattern>/DisplayUserTravelHistory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserVehicleDetails</servlet-name>
        <url-pattern>/DisplayUserVehicleDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayUserProfile</servlet-name>
        <url-pattern>/DisplayUserProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DisplayPaymentStatus</servlet-name>
        <url-pattern>/DisplayPaymentStatus</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
